{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p class="notification bg-danger">Ваш логин или пароль не подходят. Попробуйте снова</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p class="notification bg-warning">У вас нет доступа к этой странице!</p>
{% else %}
<p class="notification bg-warning">Пожалуйста авторизируйтесь, чтобы увидеть страницу</p>
{% endif %}
{% endif %}
<div class="reg-form-screen">
  <div class="reg-form">
    <form class="form-control" method="post" action="{% url 'login' %}">
      {% csrf_token %}

      <label for="login">Логин:</label>
      {{ form.username }}



      <label for="login">Пароль:</label>
      {{ form.password }}



      <input type="submit" value="Войти" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>


{# Assumes you setup the password_reset view in your URLconf #}
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->


</div>
</div>
{% endblock %}
