<!DOCTYPE html>
<html lang="ru">
	<head>
    	{% block title %}{% endblock %}
    	{% load static %}

    	<meta charset="utf-8">
    	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
  		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	</head>
	<body>
		<div class="main-container">
    <div class="header">
      <nav>
        <ul>
          <li><a href="add-patient">Добавить пациента</a></li>
          <li><a href="/">Текущие пациенты</a></li>
          <li><a href="archive">Архив</a></li>
          <li><a href="help">Помощь</a></li>
        </ul>
      </nav>
    </div>
    	{% block content %}{% endblock %}
			<div class="footer">
				<p>Индикативная система мониторинга показателей пациента «СУПРИМ».</p>
				<p>Если вы заметили ошибки в работе системы или же хотите внести предложения,<br>
					пишите на почту <b>nsibox@yandex.ru</b>.
				<p class="copyright">© 2020 Разработка и поддержка студия <a href="https://instagram.com/work.network?igshid=12se6ni67g0i9" target="_blank">Work.network</a></p>
			</div>
		</div>
	</body>
</html>
