{% extends "base.html" %}

{% block title %}
<title>Помощь | Система СУПРИМ</title>
<meta name="Description" content=" index ">
{% endblock %}



{% block header %}
  {% if user.is_authenticated %}
<div class="main-container">
<div class="header">
  <nav>
    <ul>
      <li><a href="add-patient">Добавить пациента</a></li>
      <li><a href="/" >Текущие пациенты</a></li>
      <li><a href="archive" >Архив</a></li>
      <li><a href="help" class="active-nav" >Помощь</a></li>
      <li><a href="">Профиль</a></li>
      <li><a href="{% url 'logout'%}">Выйти</a></li>
    </ul>
  </nav>
</div>
  {% endif %}
{% endblock %}



{% block content %}

  {% if user.is_authenticated %}

    <div class="content">
      <div class="content-block index-list">
        <h4>Часто задаваемые вопросы</h4>
        <div class="index-list-tab">
          <div class="index-list-tabes-pacient">
            <div class="index-list-tabes">
            <div class="tabes-pacient-cell">
                <input type="search" name="help-question-finder" placeholder="Введите вопрос">
                <input type="submit" name="help-question-find" value="Найти" class="button-secondary">
            </div>
            <h4>Основные статусы пациента</h4>
            <h4>Изменение информации ппациента</h4>
            <h4>Добавление назначений</h4>
            <h4>Основные понятия инфографики</h4>
            </div>
            </div>
          </div>
        </div>

      </div>

  {% else %}
    <a class="btn btn-success" href="{% url 'login'%}">Авторизироваться</a>
  {% endif %}

{% endblock %}
