{% extends "base.html" %}

{% block title %}
<title>Добавить пациента | Система СУПРИМ</title>
<meta name="Description" content=" index ">
{% endblock %}

{% block header %}
  {% if user.is_authenticated %}
<div class="main-container">
<div class="header">
  <nav>
    <ul>
      <li><a href="monitoring">Мониторинг</a></li>
      <li><a href="/" >Текущие пациенты</a></li>
      <li><a href="messenger">Сообщения</a></li>
      <li><a href="archive">Архив</a></li>
      <li><a href="help">Помощь</a></li>
      <li><a href="profile">Профиль</a></li>
      <li><a href="{% url 'logout'%}">Выйти</a></li>
    </ul>
  </nav>
</div>
  {% endif %}
{% endblock %}


{% block content %}

  {% if user.is_authenticated %}

    <div class="content">
      <div class="content-block index-list">
        <h4>Медицинское учреждение №58 (Городская больница)</h4>
        <div class="index-list-tab">
          <div class="index-list-tabes-pacient">
                <div class="tabes-pacient-cell">
                  <input type="text" name="hospital-name" placeholder="Название мед учреждения">
                </div>
                <div class="tabes-pacient-cell">
                  <input type="text" name="hospital-info" placeholder="Доп информация">
                </div>
                <h4>Добавить палату</h4>
                <div class="tabes-pacient-cell">
                  <input type="text" name="room-number" placeholder="Номер палаты">
                  <input type="submit" name="add-room" value="Добавить" class="button-success">
                </div>


                  <div class="tabes-pacient-cell">
                    <h4>Удалить палату</h4>
                  <select id="#" class="select-pacient">
                    <option selected hidden>Палата</option>
                    <option value="#">1</option>
                    <option value="#">2</option>
                    <option value="#">3</option>
                  </select>
                  <input type="submit" name="del-room" value="Удалить" class="button-wait">
                </div>
                <div class="tabes-pacient-cell">

                </div>
                <div class="tabes-pacient-cell">
                  <input type="submit" name="save-pacient" value="Сохранить" class="button-success">
                </div>
            </div>
          </div>
        </div>

      </div>

  {% else %}
  <div class="reg-form-screen">
    <div class="reg-form">
      <a class="button-add-pacient" href="{% url 'login'%}">Авторизироваться</a>
    </div>
  </div>
  {% endif %}

{% endblock %}
