{% extends "base.html" %}

{% block title %}
<title>Текущие пациенты | Система СУПРИМ</title>
<meta name="Description" content=" index ">
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}


      <div class="content">
        <div class="content-block index-list">
          <h4>Текущие пациенты</h4>
          <div class="index-list-tab index-list-tab-before">
            <div class="index-list-tabes">
              <div class="tabes-pacient-cell">
                  <input type="search" name="cur-pacient-finder" placeholder="Имя пациента">
                  <input type="submit" name="cur-pacient-find" value="Найти" class="button-secondary">
              </div>
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Возраст</th>
                    <th>Диагноз</th>
                    <th>Леч. врач</th>
                    <th>Пульс</th>
                    <th>SpO2</th>
                    <th>PI</th>
                    <th>Темп.</th>
                    <th>Терминал</th>
                    <th></th>
                    <th>Статус</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><a href="pacient">Русаков Юстин Филиппович</a></th>
                    <th>23</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Гущин Людвиг Валерьянович</a></th>
                    <th>25</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Тарасов Аввакуум Владимирович</a></th>
                    <th>65</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Королёв Лазарь Евсеевич</a></th>
                    <th>54</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Максимов Владлен Иосифович</a></th>
                    <th>53</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Шилов Виктор Дмитриевич</a></th>
                    <th>14</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-wait">Отключен</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Кабанов Адам Гордеевич</a></th>
                    <th>76</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Ермаков Герман Альвианович</a></th>
                    <th>53</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-wait">Отключен</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Титов Мартын Сергеевич</a></th>
                    <th>63</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Беляков Яков Кириллович</a></th>
                    <th>68</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-danger">Сбой</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Хохлов Фрол Юрьевич</a></th>
                    <th>35</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Никонов Аввакум Геннадиевич</a></th>
                    <th>26</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Кулаков Агафон Феликсович</a></th>
                    <th>28</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Белоусов Наум Митрофанович</a></th>
                    <th>43</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                  <tr>
                    <th><a href="pacient">Бобров Власий Арсеньевич</a></th>
                    <th>15</th>
                    <th>Простуда</th>
                    <th>Карпов Юлиан Геласьевич</th>
                    <th>75</th>
                    <th>97</th>
                    <th>4,3</th>
                    <th>36,6</th>
                    <th>terminal 1</th>
                    <th><a href="#editModal">Изменить</a></th>
                    <th><span class="badge-success">Онлайн</span></th>
                  </tr>
                </tbody>
              </table>
              <!-- Модальное окно -->
              <div id="editModal" class="modalDialog">
                <div>
                  <a href="#close" title="Закрыть" class="close">X</a>
                  <h4>Изменить данные</h4>
                  <div class="index-list-tabes-pacient">
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="text" name="naznach" placeholder="Назначение">
                      <input type="text" name="time-weight" placeholder="Время/Вес">
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <p><input type="radio" value="preparat">Препарат</p>
                      <p><input type="radio" value="preparat">Процедура</p>
                      <p><input type="radio" value="preparat">Другое</p>
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="submit" name="add-naznach" value="Добавить" class="button-success">
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <p>Отправить данные для доступа пациенту</p>
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="text" name="pacient-email" placeholder="E-mail пациента">
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="submit" name="pacient-data" value="Отправить" class="button-success">
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <p>Выписать пациента</p>
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="text" name="comment-out" placeholder="Комментарий к выписке">
                    </div>
                    <div class="tabes-pacient-cell modal-pacient-cell">
                      <input type="submit" name="pacient-out" value="Выписать" class="button-wait">
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


  {% else %}
    <a class="btn btn-success" href="{% url 'login'%}">Авторизироваться</a>
  {% endif %}

{% endblock %}
